html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: url("../nautilus1.jpg");
	background-repeat: repeat;
	height: auto;
}

.pageWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	
}

.listWrapper {
	width: 65%;
	height: 100%;
	position: absolute;
	left: 50px;
	top: 100px;
	justify-content: flex-start;
}

.searchResultsListing {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border: 1px solid rgb(0, 0, 128);
	border-radius: 5px;
	background-color: white;
	opacity: .9;
	margin-bottom: 15px;
}

.column {
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	width: 130px;
	text-indent: 5px;
	justify-content: flex-start;
}



.label {
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: rgb(0, 0, 128);
	border-bottom: 2px solid black;
	line-height: 25px;
	border-right: 1px solid white;
}

.secondRow {
	margin-top: 5px;
	margin-bottom: 3px;

}

.thirdRow {
	margin-bottom: 3px;
}

.fourthRow {
	margin-bottom: 3px;
}

.bold {
	font-weight: bold;
}

.bigCell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 25px;
	text-indent: 0;
	text-align: center;
	flex-grow: 2;
}

.passengers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-indent: 0;
	text-align: center;
	flex-grow: 2;
	font-size: 20px;
}

.saveButtonDiv {
	text-align: center;
	width: 100px;
	justify-content: center;
}

.saveButton {
	height: 40px;
	width: 70px;
	border-radius: 5px;
	margin: 0 auto;
	
	background-color:#000080;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    color: #FFF;
    font-size: 12px;
    margin-top: 10px;
}


.saveButton:hover {
	background-color:#0000cc;
}

div p {
	line-height: 20px;
	margin: 0;
}

/*div {
	border: 1px solid black;
}*/

.filterWrapper {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	position: absolute;
	right: 50px;
	top: 50px;
	height: 300px;
	width: 250px;
	border: 1px solid white;
	border-radius: 5px;
}

.filterLabel {
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-color: rgb(0, 0, 128);
	margin-bottom: 5px;
	line-height: 30px;
	height: 30px;
	text-align: center;
	border-bottom: 1px solid white;
}

.filters {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
}

.originFilter, .airlineFilter {
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	margin-bottom: 5px;
	line-height: 25px;
	text-align: center;
	height: 100px;
}

.airlineFilter {
	margin-bottom: 30px;
}